body {
    background: rgb(119,111,255);
    background: -moz-radial-gradient(circle, rgba(119,111,255,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(119,111,255,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    background: radial-gradient(circle, rgba(119,111,255,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#776fff",endColorstr="#00d4ff",GradientType=1);
}

#cabecera {
    background: #68196c;
    color: black;
    text-align: left;
    font-weight: bold;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    max-height: 100px;
    width: 100%;
}

.title-cabecera {
    display: flex;
    max-width: 15rem;
    height: auto;
}

.logo {
    float: left;
    height: 100px;
    width: 100px;
}

.titulo {
    height: 100%;
    padding-top: .5em;
}

.panel{
    max-width: 5rem;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

#tablero-juego {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 5px solid #ffffff;
    width: 50em;
    height: auto;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
}

.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    border-radius: 1.5rem;
    border: 3px solid #ffffff;
    position: relative;
    width: 200px;
    height: 230px;
    margin: 10px;
}

.cover:hover{
    width: 205px;
    height: 235px;
}