body {
    margin: 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container {
    width: fit-content;
    padding: 1.5em;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#cabecera {
    background: #ff66ff;
    color: black;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: white;
}

main {
    flex-grow: 1;
}

#title-cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
}

#post{
    background: orange;
    padding: 1em;
}

footer {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

footer a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

footer a:link { 
    color:white;
}

footer a:hover { 
    color: #ff66ff;
}

footer a:active { 
    color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
}


.cover{
    position: relative;
    width: 200px;
    height: 200px;
    padding: 10px;
}
